* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
}

h1 {
	font-size: 2.6rem;
}

li,
button,
label,
input,
p {
	font-size: 2rem;
}

h2 {
	font-size: 4.8rem;
}

h3 {
	font-size: 3rem;
    font-weight: normal;
}
h4,
h5 {
    font-size: 2.8rem;
}
a {
    text-decoration: none;
    color: white;
}

button {
    padding: 2rem 6rem;
    background: cornflowerblue;
    color: white;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
}

button:hover {
    background: rgba(8, 38, 119, 0.467);
}

/* Nav section with HERO*/

.main-head {
    background: black;
    color: white;
}

nav {
    min-height: 10vh;
    display: flex;
    margin: auto;
    width: 90%;
    align-items: center;
    padding: 2rem;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

#logo {
    flex: 1 1 40rem;
    font-family: "Pattaya", sans-serif;
    font-weight: 400;
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url("/img/landing-page.jpg");
    min-height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.hero h3 {
    padding: 5rem;
}


/* LOCATIONS SECTION */

#locations {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url("/img/new-york-page.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.locations-head {
    width: 90%;
    margin: auto;
}

.locations-head h2 {
    padding: 1rem 0rem;
    text-decoration: underline;
    text-decoration-thickness: 0.5rem;
}

.locations-head h3 {
    padding: 4rem 0rem;
    background: linear-gradient(hsl(231, 70%, 17%), #7777);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cloud {
    position: absolute;
    top: 0%;
    right: 0%;
}

.moving-cloud1 {
    animation: cloudAnimation 3s infinite alternate ease-in-out;
}
.moving-cloud2 {
    animation: cloudAnimation 4s infinite alternate ease-in-out;
    top: 20%;
    z-index: -1;
    opacity: 0.5;
}

@keyframes cloudAnimation {
    from {
        transform: translate(10%, -10%);
    }
    to {
        transform: translate(0%, 0%);

    }
}

/*Benefits */

.benefits-head {
    background: #343c44;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    min-height: 30vh;
    text-align: center;
    justify-content: center;
    padding: 3rem;
}
.benefits-head h3 {
    padding: 1rem;
}

.cards {
    width: 90%;
    display: flex;
    min-height: 70vh;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
}
.card {
    
    flex: 1 1 25rem;
    margin: 2rem 5rem;
    width: 15%;
    min-height: 40vh;
    align-items: center;
    text-align: center;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}
.card img {
    max-width: 15%;
    margin: 2rem;
}

.card h4, p {
    padding: 1rem;
    line-height: 1.8;
}

.card-icon {
    background: #27394e;
}
/* MEDIA */
@media screen and (max-width: 949px) {

    html {
        font-size: 45%;
    }
    nav {
        text-align: center;
    }
    #logo {
        padding: 2rem;
    }
    .cloud {
        height: 50rem;
        pointer-events: none;
    }
    .moving-cloud1 {
        z-index: -1;
    }
    .moving-cloud2 {
        top: 10%;
        z-index: -2;
    }
    .locations-head h3 {
        background:linear-gradient(hsl(210, 2%, 16%), #7777);
        -webkit-text-fill-color: rgb(231, 231, 238);
    }
}
